* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.main_container {
    
}
.top-header {   
    z-index: 1000;  
   
}
a {
    text-decoration: none;
}

.header_cont {
    position: relative;
}
.left-float {
    float: left;
}
#navbarSupportedContent span {
  
}
.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
section {
    margin: 0;
    padding: 0;
}

#navbarDropdownMedia~ul>li>a, #navbarDropdownCareer~ul>li>a{
    color: black;
}

.icon-bar {
    position: relative;
    background: #444;
    height: 2px;
    width: 26px;
    display: block;
    margin : 5px 11px;
}

.carousel-item{
    max-height: 650px;
}
#navbarSupportedContent>ul>li {
    display: inline;
}

.container {
    max-width: 85% !important;
    
}

.carousel-item {
    position:relative;
    background: linear-gradient(rgba(10,0,0, 0.65), rgba(0,0,0, 0.75)) !important;
   
    
  
}
.carousel-item img {    
    z-index: -1;
    position: relative;
   
    
}

.boxes {
    padding: 2%;
    background: #282c35;
    border-radius: 20px;
    box-shadow: 1px 2px 15px -2px rgba(102,102,102,1);

}
.boxes a {
    text-decoration: none;
}
.box-1, .box-4 {
   
}
.box-image {
    
    text-align: center;
   
}
.box-image>img {
    display: inline-block;
  
   
}

.box-content {
    text-align: center;
   
    margin-top: 1rem;
    color : white;
}
.section-2-content {
    text-align: center;
}
.section-2-content a {
    text-decoration: none;
    color: white;
}

.section-3-img-div {
  position: relative;
  padding: 2%;
    
}
.section-3-img-div>img{
    border-radius: 50px;
   
    box-shadow: 1px 5px 13px -2px rgba(10,0,0, 0.65);
    margin: 0 auto;
}

.section-3-small-col {
    margin-bottom: 5%; 
    width: 100%;  
   
    
    
}
.section-3-small-col>div {
    margin: 2%;
    border: 1px solid #cdcdcd;
    border-radius: 100px;
    padding: 1%;
    padding-bottom: 3%;
    box-shadow: 1px 5px 13px -2px rgba(10,0,0, 0.65);
}

.section-3-small-col img {
    margin-right: 0.9375rem;
    float: left;
    max-width: 80px;
}
.section-3-small-col a {
    text-decoration: none;
    color: #000;
  
}
.section-3-small-col h3{
    font-size: 15px;
    font-weight: 550;
}

/*
.nav-item-row {
    margin-top: 1%;
   vertical-align: middle;
    
}
 */



 .section-heading {
     font-size: 30px;
     margin-bottom: 10px;
 }
.clearfix {
    clear: both;
}

.section-4 {
    background: linear-gradient(rgba(10,0,0, 0.75), rgba(0,0,0, 0.85)), url(../resources/home_page/about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
    color: white;
}
.section-8, .section-7, .section-1, .section-3 {
    padding: 5%;
}

.section-2 {
    padding: 5%;
    background: #eeeeee;
    background: linear-gradient(rgba(10,0,0, 0.65), rgba(0,0,0, 0.75)), url(../resources/home_page/growth.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.section-5 {
    padding: 5%;
}

.section-5-box {
    position: relative;
    text-align: center;
  
}  

.section-5-box img {
   
    z-index: -10;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 1px 13px -2px rgba(10,0,0, 0.65);

}
.section-5-box a {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(rgba(10,0,0, 0.65), rgba(0,0,0, 0.75));
    color: white;
    font-family: 'oswald', sans-serif;
    font-size: 22px;
    padding: 2%;
    border-radius: 0px 0px 20px 20px;
    text-decoration: none;

}
.section-5-heading {
    font-family: 'oswald', sans-serif;
    font-size: 36px;
}

.sub-heading {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    display: block;
    margin-bottom: 20px;
}

.section-6 {
    background: linear-gradient(rgba(10,0,0, 0.65), rgba(0,0,0, 0.75)), url(../resources/home_page/enc.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
    color: white;
}

.form-container {
    background: linear-gradient(rgba(10,0,0, 0.85), rgba(0,0,0, 0.95));
    padding: 4%;
    box-shadow: 1px 5px 13px -2px rgba(10,0,0, 0.65);
}

.section-7-img-div {
   
   
}
.section-7-img-div img {
    border-top-right-radius : 12.8rem;
    border-bottom-left-radius : 3.5rem;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 1px 5px 13px -2px rgba(10,0,0, 0.65);
   
  
   
}

.section-7-box {
    padding: 1%;
}

.section-7-box-img img {
   margin-bottom: 4%;
    
}


.section-8 {
    background: linear-gradient(rgba(10,0,0, 0.65), rgba(0,0,0, 0.75)), url(../resources/home_page/socail-network.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
    color: white;
}

.section-9, .section-10 {
    padding: 5%;
   
}

.section-9-img-div img {
    border-top-right-radius : 12.8rem;
    border-bottom-left-radius : 12.8rem;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 1px 5px 15px -2px rgba(10,0,0, 0.65);
   
}

.upper-footer {
    position: relative;
    background : #373837;
}


.footer-line {
    background: #18191d;
}

.footer-line-text {
    color: white;
   text-align : center;
}
.footer-line-text p {
    margin-top: 1%;
    line-height: 2vh;
    vertical-align: middle;
}

.footerBackgroundPrimary {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.footer-list>h3 {
    color: white;
    font-weight: 650;
}

.footer-list li {
    list-style-type: none;
   
}
.footer-list li>a {
    color: white;
}

.footer-icon-div li {
    list-style-type: none;
    display: inline-block;
    
}

 .about-section-2 {
    padding: 5%;
}

.about-image {
    background:  linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)), url(../resources/others/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding: 15%;
}

.abt-main-heading {
    position: relative;
    left: 35%;
    visibility: visible;
    animation-name: zoomIn;
}

.start-up-services li{
    list-style-type: none;
}

.start-up-services li a, .main-service-sub-box li a, .learning-center-sub-head-box li a {
    text-decoration: none;
    color: #333;
}

.start-up-services {
   display: none;
}

.start-up-services{
    position: absolute;
    z-index: 1000;
    width: 75%;
    left: 10%;
    right: 10%;
    background-color: white;
}

.main-service-head, .learning-center-sub-head{
    position: absolute;
    z-index: 1000;
    width: 70%;
    left: 10%;
    right: 10%;
    background-color: white;
}


.main-service-head {
    display: none;
}


.start-up-sub-box, .main-service-sub-box, .learning-center-sub-head-box {
    padding: 2%;
    
}

.start-up-sub-box ul, .main-service-sub-box>ul, .learning-center-sub-head-box>ul, .start-up-sub-box>h4,  .main-service-sub-box>h4, .learning-center-sub-head-box>h4 {
    text-align: center;
}

.start-up-sub-box h4{
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.start-up-sub-box li, .main-service-sub-box li, .learning-center-sub-head-box li {
   line-height: 20px;
    
    margin-bottom: 1em;
}

.main-service-sub-box li, .learning-center-sub-head-box li {
    list-style-type: none;
}

.learning-center-sub-head-box {

}

.learning-center-sub-head{
    display: none;
}


.contact-page-sec-1-container{
    background: linear-gradient(rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)), url(../resources/others/about-2.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 5%;
}

.section-1-contact-container-box {   
    background-color: #fff;
    width: 100%;
    height: max-content;
    padding: 24px 30px;
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: center;
    -webkit-transition: 0.2s ease;
    box-shadow: 0px 1px 13px -2px;
    opacity: 0.8;
}

.sebx-fnt-logo {
    background-color: #33ccff;
    padding: 1.12rem;
    border-radius: 50%;
    border: 2px solid;
    margin-top: auto;
    position: relative;
    margin-top: -73px;
    margin-bottom: 20px;
    width: 90px;

}

.section-1-contact-container-box span{
    font-size: 18px;
    font-weight: bold;
    color: #101010;
    position: relative;
    top: 2px;
}

.sec-2-contact-box>div{
    background-color: #f6f6f6;
    padding: 2rem;
    
}